{% extends 'base.html' %}
			{% include 'header.html' %}
			{% block main %}<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="/">Home</a>
							<span>Category:{{category.name}}</span>
						</div>

						<div class="filters">
							<select name="#" id="touchsplashmenu" onchange="location.href=this.value" placeholder="Choose Category">
								<option value="{% url 'catalog' category.slug %}">{{category.name}}</option>
								{% for category in categories %}
								<option value="{% url 'catalog' category.slug %}">{{category.name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="movie-list">
							{% for film in films %}
							<div class="movie">
								<figure class="movie-poster"><img src="{{film.image.url}}" alt="{{film.name}}" style="height:200px;"></figure>
								<div class="movie-title"><a href="{% url 'review' film.slug %}">{{film.name}}</a></div>
								<p>{{film.description}}</p>
							</div>
							{% endfor %}
						<div class="pagination">
							<a href="#" class="page-number prev"><i class="fa fa-angle-left"></i></a>
							<span class="page-number current">1</span>
							<a href="#" class="page-number">2</a>
							<a href="#" class="page-number">3</a>
							<a href="#" class="page-number">4</a>
							<a href="#" class="page-number">5</a>
							<a href="#" class="page-number next"><i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div> <!-- .container -->
			</main> {% endblock main %}
			{%include 'footer.html' %}
